<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573956922577-3tjh5bamtlka4lsh85mth9he0f068o85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573956922577-3tjh5bamtlka4lsh85mth9he0f068o85</string>
	<key>API_KEY</key>
	<string>AIzaSyDIWYqQI_1PJ__FOxjMIXe_9RFbgZLjXqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>573956922577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pttRtmb</string>
	<key>PROJECT_ID</key>
	<string>flutter-mbsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mbsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573956922577:ios:f8c023e19a7794d18139f0</string>
</dict>
</plist>